# global setting
[alias]
	graph = log --all --graph --decorate --oneline
	assume-unchanged = update-index --assume-unchanged
	no-assume-unchanged = update-index --no-assume-unchanged
[core]
	editor = code -w
	excludesfile = ~/.gitignore
[commit]
	template = ~/.gitmessage
[user]
	email = muhammadkhan1607@gmail.com
	name = mbm_1607
[pull]
	rebase = false
